[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 13.0

[submodule "OCA/openupgradelib"]
	path = OCA/openupgradelib
	url = git@github.com:OCA/openupgradelib.git
	branch = master
